<%= form_for(@card) do |f| %>
    <% if @card.errors.any? %>
        <div id="error_explanation">
            <ul>
                <% @card.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <div class="field">
        <%= f.label :deck_list, 'Deck'%>
        <%= f.text_field :deck_list, placeholder: 'deck1,deck2,deck3', value: @card.decks.pluck(:name).join(',') %>
    </div>
    <div class="field">
        <%= f.label :front %>
        <%= f.text_area :front, class: 'front', placeholder: 'What is the most highest mountain in the world?' %>
    </div>
    <div class="field">
        <%= f.label :back %>
        <%= f.text_area :back, class: 'back', placeholder: "Mount Everest\n (!) you can use Markdown syntax!" %>
    </div>

    <%= f.submit 'Submit', class: 'btn btn-primary', data: { disable_with: 'Submitting...' } %>
<% end %>
