<%= form_for(@card) do |f| %>
    <% if @card.errors.any? %>
        <div id="error_explanation">
            <ul>
                <% @card.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <div class="field">
        <%= f.label :tag_list, 'Tag'%>
        <%= f.text_field :tag_list, placeholder: 'tag1,tag2,tag3', value: @card.tags.pluck(:name).join(',') %>
    </div>
    <div class="field">
        <%= f.label :front %>
        <%= f.text_area :front, class: 'front', placeholder: 'What is the most highest mountain in the world?' %>
    </div>
    <div class="field">
        <%= f.label :back %>
        <%= f.text_area :back, class: 'back', placeholder: "Mount Everest\n (!) you can use Markdown syntax!" %>
    </div>
    <div class="field">
        <%= f.label :memo %>
        <%= f.text_area :memo, class: 'memo', placeholder: 'source: Wikipedia' %>
    </div>
    <div class="field">
        <%= f.label :status %>
        <%= f.select :status, options_from_collection_for_select(Card::STATUSES, :first, :last) %>
    </div>

    <%= f.submit 'Create', class: 'btn btn-primary', data: { disable_with: 'Creating...' } %>
<% end %>
