<%= render "shared/alert" %>

<div id="deck">
    <div id="deck-inner" class="container">
        <% if @deck.present? %>
            <h2>
                <%= link_to @deck.name, deck_cards_path(@deck.id) %>
                <span><%= @deck.cards.count %>cards</span>
            </h2>
        <% end %>
    </div>
</div>
<div id="actions">
    <nav class="container">
        <ul>
            <li class="<%= 'active' if params[:mode] != 'view' %>">
                <%= link_to 'Learn', deck_cards_path(params[:deck_id], mode: 'learn') %>
            </li>
            <li class="<%= 'active' if params[:mode] == 'view' %>">
                <%= link_to 'View', deck_cards_path(params[:deck_id], mode: 'view') %>
            </li>
        </ul>
    </nav>
</div>
<div id="cards">
    <div id="cards-inner" class="container">
        <% if params[:mode] == 'view' %>
            <%= render "view_card" %>
        <% else %>
            <%= render "learn_card" %>
        <% end %>
        <div id="pagination">
            <%= paginate @cards, window: 5 %>
        </div>
    </div>
</div>
