<%= render "shared/alert" %>

<div id="deck">
    <div id="deck-inner" class="container">
        <% if @deck.present? %>
            <h1>
                <%= link_to @deck.name, deck_cards_path(@deck.id) %>
                <span><%= @deck.cards.count %>cards</span>
            </h1>
            <div id="deck-menu">
                <ul>
                    <li>
                        <%= link_to(deck_path(@deck.id), method: :delete, data: { confirm: 'Do you really want to delete this deck?' }) do %>
                            <i class="fa fa-trash"></i> Delete
                        <% end %>
                    </li>
                </ul>
            </div>
        <% end %>
    </div>
</div>
<div id="actions">
    <nav class="container">
        <ul>
            <li class="<%= 'active' if params[:mode] != 'view' %>">
                <%= link_to 'Learn', deck_cards_path(params[:deck_id], mode: 'learn') %>
            </li>
            <li class="<%= 'active' if params[:mode] == 'view' %>">
                <%= link_to 'View', deck_cards_path(params[:deck_id], mode: 'view') %>
            </li>
        </ul>
    </nav>
</div>
<div id="cards">
    <div id="cards-inner" class="container">
        <% if params[:mode] == 'view' %>
            <%= render "view_card" %>
        <% else %>
            <%= render "learn_card" %>
        <% end %>
        <div id="pagination">
            <%= paginate @cards, window: 5 %>
        </div>
    </div>
</div>
