<div id="page-info">
    <%= page_entries_info @cards %>
</div>
<div id="cards">
    <% @cards.each do |card| %>
        <div class="card">
            <div class="card-body">
                <div class="tags">
                    <ul class="list-inline">
                        <% card.tags.each do |tag| %>
                            <li><%= tag.name.truncate(13) %></li>
                        <% end %>
                    </ul>
                </div>
                <div class="head">
                    <%= simple_format(card.head) %>
                </div>
                <div class="tail">
                    <%= md(card.tail) %>
                </div>
            </div>
            <div class="card-footer">
                <ul class="list-inline">
                    <li><span class="glyphicon glyphicon-list-alt"></span> <%= link_to 'Detail', card_path(card.id) %></li>
                </ul>
            </div>
        </div>
    <% end %>
</div>
<div id="pagination">
    <%= paginate @cards, window: 5 %>
</div>
