<%= render "alert" %>
<div id="page-info">
    <%= page_entries_info @cards %>
</div>
<div id="filter-and-sort" class="dropdown">
    <a href="#" id="d-label1" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Filter &amp; Sort <span class="caret"></span>
    </a>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="d-label1">
        <%= form_tag '', method: 'get' do %>
            <div id="filter-body">
                <div class="field">
                    <%= label_tag 'tag', 'Tag' %>
                    <%= select_tag 'tag', options_from_collection_for_select(@tags, :name, :name, params[:tag]), include_blank: 'All', class: 'form-control' %>
                </div>
                <div class="field">
                    <%= label_tag 'status', 'Status' %>
                    <%= select_tag 'status', options_from_collection_for_select(Card::STATUSES, :first, :last, params[:status]), include_blank: 'All', class: 'form-control' %>
                </div>
                <div class="field">
                    <%= label_tag 'favorite', 'Favorite' %>
                    <%= select_tag 'fav', options_for_select({ All: 'all', On: 1, Off: 0 }, selected: params[:fav]), class: 'form-control' %>
                </div>
                <div class="field">
                    <%= label_tag 'sort', 'Sort' %>
                    <%= select_tag 'sort', options_from_collection_for_select(Card::SORT_OPTIONS, :first, :last, params[:sort]), include_blank: true, class: 'form-control' %>
                </div>
            </div>
            <div id="filter-footer">
                <%= submit_tag 'Filter', class: 'btn btn-primary' %>
            </div>
        <% end %>
    </div>
</div>
<div id="cards">
    <% @cards.each do |card| %>
        <div class="card" data-card="<%= card.id %>">
            <div class="front face">
                <div class="tags">
                    <ul class="list-inline">
                        <% card.tags.each do |tag| %>
                            <li><%= tag.name.truncate(13) %></li>
                        <% end %>
                    </ul>
                </div>
                <div class="content">
                    <%= simple_format(card.front) %>
                </div>
            </div>
            <div class="back face">
                <div class="content">
                    <%= md(card.back) %>
                </div>
                <div class="card-info">
                    <ul>
                        <li class="check-count" title="Check count">
                            <i class="fa fa-check"></i> 10
                        </li>
                        <li class="fav" title="Favorit">
                            <i class="fa fa-star" <%= "favorited" if card.favorite %>></i>
                        </li>
                        <li title="Card detail">
                            <%= link_to card_path(card.id) do %>
                                <i class="fa fa-info"></i>
                            <% end %>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    <% end %>
</div>

<div id="pagination">
    <%= paginate @cards, window: 5 %>
</div>
