<h2>Create Card</h2>
<%= form_for(@card) do |f| %>
    <% if @card.errors.any? %>
        <div id="error_explanation">
            <ul>
                <% @card.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <div class="field">
        <%= f.label :head %>
        <%= f.text_area :head %>
    </div>
    <div class="field">
        <%= f.label :tail %>
        <%= f.text_area :tail %>
    </div>
    <div class="field">
        <%= f.label :memo %>
        <%= f.text_field :memo %>
    </div>
    <div class="field">
        <%= f.label :status %>
        <%= f.select :status, [['NG', 0], ['OK', 1]] %>
    </div>

    <div class="field">
        <%= f.label :tag_list %>
        <%= f.text_field :tag_list %>
    </div>

    <!-- サブ -->
    <% if false %>
    <div class="field">
    <% @card.tags.each do |tag| %>
        <%= f.fields_for :tags, tag do |t| %>
            <%= t.label :tag %>
            <%= t.text_field :name %>
        <% end %>
    <% end %>
    </div>
    <% end %>

    <%= f.submit %>
<% end %>

<h2>Import from csv</h2>
<%= form_tag confirm_cards_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag :import %>
<% end %>
