<div id="card">
    <%= render "alert" %>
    <% if @card.present? %>
        <div class="card-item">
            <div class="left">id</div>
            <div class="right"><%= @card.id %></div>
        </div>
        <div class="card-item">
            <div class="left">front</div>
            <div class="right"><%= @card.front %></div>
        </div>
        <div class="card-item">
            <div class="left">back</div>
            <div class="right"><%= @card.back %></div>
        </div>
        <div class="card-item">
            <div class="left">memo</div>
            <div class="right"><%= @card.memo %></div>
        </div>
        <div class="card-item">
            <div class="left">status</div>
            <div class="right"><%= Card::STATUSES[@card.status] %></div>
        </div>
        <div class="card-item">
            <div class="left">favorite</div>
            <div class="right"><%= @card.favorite %></div>
        </div>
        <div class="card-item">
            <div class="left">decks</div>
            <div class="right">
                <% @card.decks.each do |deck| %>
                    <%= deck.name %><br>
                <% end %>
            </div>
        </div>
        <div class="card-item">
            <div class="left">created_at</div>
            <div class="right"><%= @card.created_at %></div>
        </div>
        <div class="card-item">
            <div class="left">updated_at</div>
            <div class="right"><%= @card.updated_at %></div>
        </div>
        <div class="actions">
            <%= link_to 'Edit', edit_card_path(@card), class: ['btn', 'btn-primary'] %>
            <%= link_to 'Delete', @card, method: :delete, data: { confirm: 'Are you sure?' }, class: ['btn', 'btn-danger'] %>
        </div>
    <% else %>
        Not found!
    <% end %>
</div>
